.container {
    width: 800px;
    border: 1px solid black;
    display: flex;
}
 .box {
    background-color: black;
    flex-basis: 150px;
 }
 p { color: white; text-align: center;
    font-size: 2rem;
 }

 #box1 { flex-grow: 1;}
 #box2 { flex-grow: 1;}
 #box4 { flex-grow: 2;}
 